.home-container {
    display: flex;
}
.all-movies {
    width: 75%;
    min-height: calc(100vh - 80px);
    border-right: 1px solid #fdc827;
    padding: 20px 40px;
    font-family: "Roboto", sans-serif;
}
.all-movies .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h4 {
    text-transform: uppercase;
    font-weight: bold;
    border-left: 5px solid #ff9900;
    padding-left: 10px;
}

.view-all {
    color: #ff9900;
    cursor: pointer;
}

.popular-movies {
    width: 25%;
    min-height: calc(100vh - 80px);
    padding: 20px 40px;
    font-family: "Roboto", sans-serif;
}

.movies-thumbnail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.movie .cover img {
    border-radius: 5px;
}
.movie .detail {
    width: 180px;

}
.movie .detail .name {
    font-weight: bold;
    height: 50px;
    margin-top: 5px;
    cursor: pointer;
}
.popular-movies .movies .movie {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-movies .movies .movie .name {
    font-weight: bold;
    cursor: pointer;
}

.checked {
    color: orange;
}
.fa-star {
    margin-left: 5px;
}

.rating {
    padding-right: 45px;
    position: relative;
}
.rating .rating-value {
    position: absolute;
    top: 10px;
}

a {
    text-decoration: none;
    color: black;
}